
.main {
}
.maincontent {
    background-color: #449695;
    border-radius: 10px 10px 8px 8px;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.propic {
    border-radius: 30px;
    height: 300px;
    margin-left: 103px;
    margin-top: 13px;
    width: 300px;
}
.title {
    font-size: 33px;
    margin-left: 38px;
}
.title2 {
    font-size: 25px;
    margin-left: 146px;
    margin-top: -15px;
}
.about {
    margin-top: 96px;
}
.info {
    margin-top: -19px;
}
.content1 {
    border-radius: 5px;
    float: left;
    margin-top: 5px;
    max-width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 514px;
}
.footer img {
    width: 50px;
}
.content2 {
    border-radius: 5px;
    float: right;
    height: 431px;
    margin-right: 31px;
    margin-top: 60px;
    overflow: hidden;
    width: 41.5em;
}
.footer {
    background-color: #449695;
    border: 1px solid white;
    border-radius: 10px;
}
.footerdone {
    margin-left: 55em;
    margin-top: 5px;
}
